@using AuntCome.Models
@model ManageResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}

<h2>重置密码</h2>
<div class="container">
    <div class="row">
        @using (Html.BeginForm("ResetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.Password, new { @class = "control-label" })</td>
                    <td>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })</td>
                <td>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </td>
        </tr>
    <tr>
        <td colspan="2" class="form-group"><input type="submit" value="确定" class="btn btn-primary btn-block" /></td>
    </tr>
</table>
        }

    </div>
</div>
